<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%">

  <div class="w3-teal">
    <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
      <h1>랭킹 페이지</h1>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th class="ten wide">등수</th>
      <th class="two wide">유저</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="userInfo : ${userRanking}">
      <td>
        <span th:text="${userInfoStat.index}+1"></span>
      </td>
      <td>
        <a th:href="@{'/user/detail/' + ${userInfo.id}}">
          <span th:text="${userInfo.name}"></span>
        </a>
        <span th:text="${userInfo.volunteerTime}"></span>
      </td>
    </tr>
    </tbody>
  </table>

  <div lang="en" th:replace="common/footer :: footer"></div>

</div>
</body>
</html>